@media all and (max-width: 768px){
	.header-logo{
		display: block;
	}
	.header-area .logo{
		display: none;
	}
	.header-menu ul li{
		display: inline-block;
		margin-top: 15px;
	}
	
}

@media all and (max-width: 530px){
	.download-btn{
		display: block;
		margin: 10px auto;
		width: 250px;
	}
	.btn-green{
		width: 120px;
		display: inline-block;
	}
	.download-btn .btn-icon{
		font-size: 19px;
	}
}

@media all and (max-width: 600px){
	.hand-content{
		width: 100%;
	}
	.hand-bg{
		background: none;
	}
	.mobile-content{
		width: 100%;
	}
	.mobile-bg{
		background: none;
	}
	
	.community-text {
		width: 100%;
		float: none;
	}
	.community-img{
		width: 100%;
	}
	
}

@media all and (max-width: 530px){
	.ftr-menu ul li{
		float: none;
		margin: 10px 0;
	}
	.ftr-menu ul li:not(:last-child):after {
		content: '';
	}

}






